*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
transition:0.4s;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#111;
color:white;
}

.nav-links{
display:flex;
list-style:none;
gap:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(45deg,#ff416c,#ff4b2b);
color:white;
text-align:center;
}

.hero h2{
font-size:40px;
margin-bottom:10px;
}

.btn{
padding:10px 20px;
border:none;
background:white;
color:black;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

.btn:hover{
transform:scale(1.1);
}

.section{
padding:60px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:20px;
}

.card{
background:white;
padding:20px;
width:200px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.2);
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
}

footer{
background:#111;
color:white;
text-align:center;
padding:15px;
}

.dark{
background:#111;
color:white;
}